.gradle/
.gradle-home/
.gradle-local/
.tmp-prefs/
build/
run/
run-data/
.idea/
.vscode/
*.iml
*.ipr
*.iws
out/

*.log
*.tmp
*.bak

*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

hs_err_pid*
replay_pid*

/extras/
/tools/
